  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>projectdj</title>
  </head>
  <body style="background-color: blueviolet;">

    {% if user.is_authenticated %}
    <h3 style="font-size: 80px;text-shadow:10px">Hello, {{  user.first_name }}</h3>
    <button class="btn btn-danger"> <a href="logout"  style="font-size: 25px;">logout</a><br></button>
    
    {% else %}
    <div style="padding-top: 220px;text-align:center">
    <button class="btn btn-primary"><a href="register" style="font-size: 25px;">Register</a></button>
    <br>
    <br>
    <button class="btn btn-primary"><a href="login" style="font-size: 25px;">login</a></button>
    </div>  
    {% endif %}
  </body>
  </html>
  
  
  
  
