<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body style="background-color:blueviolet;">
    
    <form action="login" method="POST">
        
        {% csrf_token %}
        <h1  style="text-align: center;font-size: 80px;">Login</h1><br>
        <div style="text-align: center;">
            {% for message in messages %}
            <h3>{{ message }}</h3>
            {% endfor %}
        </div>
       <div style="text-align: center;">
        <input style="width: 250px; height:30px" type="text" name="username" placeholder="username"><br><br>
        <input style="width: 250px; height:30px" type="password" name="password" placeholder="password"><br>
        
        <br><input style="width: 180px; height:25px" type="submit">

    </form>
</div> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>