<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body style="background-color:blueviolet">
    <h1  style="text-align: center;font-size: 80px;">User Registration!</h1><br><br>
    <div style="text-align: center;">
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
    <div >
    <form  style="text-align: center;" action="register" method="POST">
        {% csrf_token %}
        
    <input style="width: 250px; height:30px" type="text" name="first_name" placeholder="First Name"><br>
    <input style="width: 250px; height:30px" type="text" name="last_name" placeholder="Last Name"><br> 
    <input style="width: 250px; height:30px" type="text" name="username" placeholder="User Name"><br> 
    <input style="width: 250px; height:30px" type="email" name="email" placeholder="email"><br>
    <input style="width: 250px; height:30px" type="password" name="password1" placeholder="Password"><br> 
    <input style="width: 250px; height:30px" type="password" name="password2" placeholder="Confirm Password"><br> 
    <br>
    <input style="height:25px" type="submit" >

</form>

</div>
</body>
</html>